html {
  background: 	#d9d2e9;
  color: #3c4043;
}
.input {
  margin: 15px 0;
}
.CTA {
  background-color: #485fc7;
    border-color: transparent;
    color: #fff;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
}